body {
    margin:0;
    padding:0;
    width  :100%;
    color: #303030;
    text-align:center;
    font-family:Verdana,Tahoma,"Trebuchet MS",sans-serif;
    font-size:14px;
    background-color:black;

}

#header {
    padding:10px;
}


#footer {
    padding:10px;
    color:#808080;
}
.seperator{
    clear:both;
    height:8px;
    /*background-image: url('/Content/Images/seperator.jpg')*/
}

#topSeperator {
    margin-bottom:20px;
}

#bottomSeperator {
    margin-top:20px;
}
#content {
    background-image: url('/Content/Images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

img{

    border:0;
}

.postTitle {
  margin:auto;
  text-align:center;
  width:615px;
  font-size:40px;
  font-weight:bold;
  font-family:"Palatino Linotype",Palatino;
  padding-left:85px;
}

.postTitle a:link,.postTitle a:visited, .postTitle a:hover, .postTitle a:active{
    color:#303030;
    text-decoration:none;
}

    .postTitle a:hover{
        text-decoration:underline;
    }

    .postContainer {
        width: 700px;
        margin: 0 auto 50px auto;
    }

.postTabs {
    color:#ffffff ;
    float:left;
    font-size:12px;
}

.dateTab {
    margin-top:20px;
    width:60px;
    padding:5px;
    background:#303030;
}

.commentsTab {
    margin-top: 20px;
    width: 60px;
    padding: 5px;
    background: #217aa6;
}

.day {
    font-size:2em;
}
.postContent {
    padding: 15px 15px 15px 50px;
    width: 600px;
    margin-left: 35px;
    color: #000000;
    background-color: #ffffff ;
    padding-left: 50px;
    margin-bottom:15px;
}

.postBody{
    text-align:left;
    line-height:1.5em;
}

.tagList {
    float: left;
    margin-top: 30px;
}

.linkList {
    text-align:right;
}

.comment, #commentEditor{
    text-align:left;
    color:#000000 ;
    background:#ffffff  ;
    margin-bottom:30px;
    padding:15px 15px 15px 50px;
}

#commentContainer{
    width:700px;
    margin:auto;
    padding-left:35px;
}

.commentName{
    font-style:italic;
}

.commentBody {
    margin:5px;
}

.commentTime{
    font-style:italic;
    text-align:right;
    font-size:10px;
}


.tag {

}
.twitter-share-button{

}


.commentsTab a:link, .commentsTab a:visited, .commentsTab a:hover, .commentsTab a:active{
   color:#ffffff ;
   text-decoration:none;
}       
.commentsTab a:hover{
    text-decoration:underline;
}

.commentsTab img{
    margin-right:5px;
    vertical-align:middle;
}
#sidebar {
    float:right;
    margin-right:50px;
    width:200px;
}

#main {
    margin-right:230px
}


#portal,#twitterHeader{
     margin:10px 0 10px 0;
}

.postControlPanel a:link, .postControlPanel a:visited, .postControlPanel a:hover, .postControlPanel a:active {
    text-decoration: none;
    margin-top: 15px;
    font-size: 15px;
    color: red;
    margin-bottom: 15px;
    font-weight: bold;
}

.postControlPanel a:hover {
    text-decoration: underline;
}


.postControlPanelEdit a:link, .postControlPanelEdit a:visited, .postControlPanelEdit a:hover, .postControlPanelEdit a:active {
    text-decoration: none;
    margin-top: 15px;
    font-size: 15px;
    color: darkgreen;
    margin-bottom: 15px;
    font-weight: bold;
}

.postControlPanelEdit a:hover {
    text-decoration: underline;
}

 
.controlPanel a:link, .controlPanel a:visited, .controlPanel a:hover, .controlPanel a:active {
    text-decoration: none;
    margin-top: 15px;
    font-size: 15px;
    color: darkgreen;
    margin-bottom: 15px;
    font-weight: bold;
}

.controlPanel a:hover {
    text-decoration: underline;
}

#twitterHeader a:link, #twitterHeader a:visited, #twitterHeader a:hover, #twitterHeader a:active {
    padding-left: 6px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 6px;
}

#twitterHeader a:hover {
    text-decoration: underline;
}

#githubHeader a:link, #githubHeader a:visited, #githubHeader a:hover, #githubHeader a:active {
    padding-left: 6px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    padding-left: 6px;
}

#githubHeader a:hover {
    text-decoration: underline;
}
